html {
    font-size: 30px;
    background: url(./RPS\ assets/thumb-1920-677266.png) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    font-family: 'Luckiest Guy', cursive;
}

#main {
    display: block;
    border: 1px solid black;
    position:relative;
    max-width:1230px;
    height: 1100px;
    
    overflow: hidden;
   
}

h1{
    text-align:center;
    z-index:1;
    animation: slideIn 2s ease-out 1;   
}

#start{
    position:absolute;
    top:6rem;
    left:4rem;
    text-align:center;
    line-height:65px;
    width:4rem;
    height:2rem;
    border-radius:20px;
    border:3px solid black;
    z-index:2;
}

#start:hover{
    transform:scale(1.1);
}

@keyframes slideIn {
    0% {
        transform:translateX(-1000px)
    }
    40% {
        transform:translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes slideInR {
    0% {
        transform:translateX(1000px)
    }
    40% {
        transform:translateX(100px);
    }
    100%{
        transform: translateX(0px);
    }
}

#goku{
    display:block;

    animation: slideInR 2s ease-out 1;
}

#goku-p2{
    display:none;
}

#goku2{
    width:800px
}

#kamehameha{
    display:block;
    position:absolute;
    top: 22rem;
    left:19rem;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    box-shadow: 0 0 50px cyan, 0 0 20px rgb(0, 153, 255), 0 0 10px blue;
    background-color: white;
    animation: kame 4s 1;
    
}

@keyframes kame {
    0% {
        opacity:0;
        transform:scale(.4);
    }
    50% {
        opacity:0;
    }
    51% {
        opacity:1;
    }
    53% {
        opacity:0;
    }
    55%{
        opacity:1;
    }
    57% {
        opacity:0;
    }
    59%{
        opacity:1;
    }
    61% {
        opacity:0;
    }
    63%{
        opacity:1;
    }
    90%{
        opacity:1;
        transform:scale(.4);
    }    
    100%{
        transform:scale(1);
    }
}
#container{
    display:none;    
}

.box {
    width: 3rem;
    height: 3rem;
    border: 2px solid goldenrod;
    border-radius: 50%;
    background-image: linear-gradient(45deg,rgba(255, 153, 0, 0.699),yellow);
    margin: 1rem;
    z-index:2;
    overflow:hidden;
}
.ai-box {
    width: 3rem;
    height: 3rem;
    border: 2px solid purple;
    border-radius: 50%;
    background-image: linear-gradient(45deg,rgba(85, 18, 99, 0.699),rgb(192, 24, 170));
    margin: 1rem;
    z-index:2;
    overflow:hidden;
}

#players-block{
    display:flex;
    
    width:15rem;
    
}
   
#ai-block{
    display:block;
    position:absolute;
    top:5rem;
    right:0px;
    width:6rem;
    
    
}    

.rock{
    position:relative;
    right:80px;
    top:8px;
    
}

.paper{
    position:relative;
    bottom:47px;
    right:10px;
    
}

.scissors{
    position:relative;
    margin-top:22px;
    margin-left:10px;
    
}

.box:hover {
    box-shadow: 0 0 25px rgb(255, 251, 0);
    transform: scale(1.1);
}

.ai-input{
    position:relative;
    bottom:50px;
    right:500px;
}

#ai-bar{
    position:absolute;
    width:100%;
    left:0px;
    top:15.2rem;
    height:3rem;
    background-image: linear-gradient(rgb(219, 52, 219),rgb(255, 95, 188) ,white,rgb(255, 95, 188),rgb(219, 52, 219));
    box-shadow: 0 0 20px rgb(225, 156, 247);
    overflow: hidden;
}

#player-bar{
    position:absolute;
    width:52%;
    top:15.2rem;
    left:-10px;
    height:3rem;
    background-image: linear-gradient(rgb(9, 130, 167) , rgb(126, 229, 255),white,rgb(126, 229, 255), rgb(9, 130, 167) );
    transition: all 1s ease;
    box-shadow: 0 0 20px rgb(118, 246, 255);
}




#results{
    position:absolute;
    width:98.8%;
    text-align:center;
    top:11rem;

    
}
#clash{
    position: absolute;
    right:3.2rem;
    top:-2rem;
    z-index: -1;
}

#p-beam-1 {
    position: absolute;
    top:5px;
    transform: scale(1.6);  
    animation: pulsePlayer 1s infinite ease-in-out;
}
#p-beam-2 {
    position: absolute;
    top:5px;
    transform: scale(1.6);
    animation: pulsePlayer 1s infinite .5s ease-in-out;  
}
#p-particles {
    position: absolute;
    top:-.5rem;
    height:5rem;
    width:100%;
    overflow: hidden;
}

#pP {
    position: absolute;
    background-repeat:repeat-x;
    background-image: url("RPS assets/beam-particles-player.png");
    left:-600px;
    top:-5rem;
    width:200%;
    height:10rem;
    background-size: 300px 400px;
    animation: playerParticle .2s linear infinite;
}
    

#aiP {
    position: absolute;
    background-repeat:repeat-x;
    background-image: url("RPS assets/beam-particles-ai.png");
    right:-600px;
    top:-5rem;
    width:200%;
    height:10rem;
    background-size: 300px 400px;
    opacity:0.5;
    animation: aiParticle .2s linear infinite;
}
#ai-beam-1 {
    position: absolute;
    top:2px;
    margin-left:3.5rem;
    transform: scale(-1.6); 
    animation: pulseAi 1s infinite .5s ease-in-out;  
}
#ai-beam-2 {
    position: absolute;
    top:2px;
    margin-left:3.5rem;
    transform: scale(-1.6);
    animation: pulseAi 1s infinite 1s ease-in-out;  
}
#clash-beam {
    position: absolute;
    left:99%;
    top:-2.5rem;
    width:.5rem;
    height: 8rem;
    border-radius:50%;
    box-shadow:0 0 20px white, 0 0 10px white, 0 0 5px white;
    background-color: white;
    animation: pulse 0.5s infinite; 
}

    
@keyframes playerParticle {
    0% {
        transform:translateX(0px);
    }
    100%{
        transform:translateX(300px);
    }   
}

@keyframes aiParticle {
    0% {
        transform:translateX(300px);
    }
    100%{
        transform:translateX(0px);
    }   
}


@keyframes pulsePlayer {
    0%{
        opacity:1;
        transform:scale(1.6);
    }
    50%{
        opacity:.5;
        transform:scale(1.4);
    }
    100%{
        opacity:1;
        transform:scale(1.6);
    }
}

@keyframes pulseAi {
    0%{
        opacity:1;
        transform:scale(-1.6);
    }
    50%{
        opacity:.5;
        transform:scale(-1.4);
    }
    100%{
        opacity:1;
        transform:scale(-1.6);
    }
}

@keyframes pulse {
    0%{
        box-shadow:0 0 20px white, 0 0 10px white, 0 0 5px white;
        transform:scale(1);
    }
    50%{
        box-shadow:0 0 40px white, 0 0 20px white, 0 0 1px white;
        transform:scale(1.1);
    }
    100%{
        box-shadow:0 0 20px white, 0 0 10px white, 0 0 5px white;
        transform:scale(1);
    }
}


#flash {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    animation: fadeOut 2s 1 ease-out;
}
@keyframes fadeOut{
    0%{
        opacity:1;
        background-color: white;
    }
    100%{
        opacity:0;
    }
}

#krillin {
    position:absolute;
    left:-5rem;
    top:10rem;
    width:150%;
    height:13rem;
    background-color:white;
    transform: translateX(-2000px) rotate(-15deg);
    overflow:hidden;
    animation:slideInKrillin 3s ease 1;
    
}
@keyframes slideInKrillin {
    0% {
        transform:translateX(2000px) rotate(-15deg);
        
    }
    10% {
        transform:translateX(50px) rotate(-15deg);
        
    }
    98%{
        transform: translateX(0px) rotate(-15deg);
    }
    100%{
        transform: translateX(-2000px) rotate(-15deg);
    }
}
#krillin-face {
    position:absolute;
    transform: rotate(15deg);
    top:-5rem;


}

#defeated {
    display:none;

}
#winner {
    display:none;
    
}